.login_main {
  width: 100%;
  height: 100%;
  display: flex;
}

.login_cross {
  font-size: 1.6rem;
  float: left;
  cursor: pointer;
}

.login_cross:hover {
  color: #ff3131;
}

.login_image {
  flex: 2;
  background-color: #f5f5f5;
}

.login_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.login_form {
  flex: 1.75;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  float: right;
}

.login_form h1 {
  font-size: 1.4vw;
  font-weight: 600;
  margin-bottom: 7px;
  letter-spacing: 0.07vw;
}

.login_form p {
  font-size: 0.8vw;
  margin-bottom: 15px;
}

.login_form span {
  font-size: 0.8vw;
  color: #ff3131;
  padding-left: 0.2vw;
  cursor: pointer;
}

.login_form span:hover {
  color: #b8100ad7;
}

.login_form input {
  align-items: center;
  justify-content: center;
  width: 19rem;
  height: 35px;
  margin: 15px auto 0 auto;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  transition: border-color 0.3s ease;
}

.login_form button {
  align-items: center;
  justify-content: center;
  width: 19rem;
  height: 35px;
  margin: 15px auto 0 auto;
  position: relative;
  transition: border-color 0.3s ease;
  background-color: #ff3131;
  border: 1px solid #bdbdbd;
  color: white;
  cursor: pointer;
}

.login_form button:hover {
  background-color: #b8100ad7;
}

.password-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19rem;
  height: 35px;
  margin: 15px auto 0 auto;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  transition: border-color 0.3s ease;
}

.password-field:focus-within {
  border-color: #ff3131;
  box-shadow: 0 0 5px rgba(255, 49, 49, 0.3);
}

.password-field input {
  flex: 1;
  height: 100%;
  width: 100%;
  border: none;
  padding: 0 0 10px 5px;
  font-size: 14px;
  background: transparent;
  outline: none;
}

.password-field .eye-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
  color: #666;
  cursor: pointer;
  transition: color 0.3s ease;
  position: absolute;
  right: 5px;
}

.password-field .eye-icon:hover {
  color: #ff3131;
}
