.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  pointer-events: all;
  justify-content: center;
  align-items: center;
}

.patient_content .patient_home_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow: visible;
}

.patient_content {
  height: auto;
  min-height: 85vh;
}
.patient_top_head {
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 1002;
  width: 100%;
  background-color: white;
  box-shadow: var(--shadow);
  padding: 0.5rem 10vw 0 10vw;
}

.patient_content .patient_home_body {
  flex: 6;
  width: 100%;
  background-image: url(../../images/1.png);
  background-image: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ff3131;
  z-index: 1000;
  padding: 7rem 10vw 7rem 10vw;
  min-height: 90vh;
}

.patient_content .patient_home_body .patient_home_body_content {
  color: white;
  width: 65%;
}

.patient_content .patient_home_body .patient_home_body_content h1 {
  font-size: 2.5rem;
}

.patient_content .patient_home_body .patient_home_body_content p {
  font-size: 15px;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.patient_content .patient_home_body .patient_home_body_content button {
  background: linear-gradient(90deg, #ef0e0e, #81c784);
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}
.patient_content .patient_second_body {
  flex: 4;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: cover;
  color: white;
  padding: 0.5rem 10vw 0 10vw;
}
.patient_content .patient_third_body {
  flex: 6;
  width: 100%;
  padding: 0.5rem 10vw 0 10vw;
  background-color: #f8f9fa;
}

.patient_content .patient_footer {
  flex: 2;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login_show,
.signup_show {
  width: 70%;
  height: min(70vh, 500px);
  z-index: 1005;
  margin: 10% 0 0 15%;
  background-color: white;
  animation: slideIn 0.3s ease-in;
  animation-delay: 0.2ms;
  position: fixed;
  border-radius: 8px;
  padding: 0.5rem 0.5rem 2rem 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 1;
}
.login_hide,
.signup_hide {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  pointer-events: none;
}

.patient_content .patient_footer {
  flex: 2.5;
  width: 100%;
  background: #2c3e50;
  padding: 3rem 10vw 0 10vw;
}
