.personal_info_container {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  font-family: "Arial", sans-serif;
}

.section_header {
  font-size: 1.75rem;
  color: #333333;
  margin-bottom: 1.5rem;
  text-align: left;
  font-weight: 600;
  border-bottom: 2px solid #ff3131;
  padding-bottom: 0.5rem;
}

.personal_info_container div {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #333333;
  display: flex;
  align-items: center;
  height: 100%;
}

.personal_info_container .label {
  font-weight: 600;
  color: #555555;
  min-width: 100px;
  margin-right: 1rem;
}

.professional_status {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.professional_status .do_verify,
.submission_status {
  background-color: #ff3131;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.submission_status {
  cursor: text;
}

.professional_status .do_verify p,
.submission_status p {
  color: white;
}
.professional_status .do_verify:hover {
  background-color: #b8100ad7;
  transform: scale(1.05);
}

.professional_status .do_verify p {
  margin: 0;
}

.verification_modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -45%);
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  z-index: 1006;
  animation: fadeIn 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}
.verification_modal .cross_section {
  text-align: right;
  align-items: right;
}
.verification_modal .cross_section .cross:hover {
  cursor: pointer;
  color: #ff3131;
}

/* Animation for modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .personal_info_container {
    padding: 1rem;
  }

  .personal_info_container div {
    flex-direction: column;
    align-items: flex-start;
  }

  .personal_info_container .label {
    margin-bottom: 0.5rem;
  }

  .professional_status {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }
}
