/*footer_body*/

.footer_main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer_copyright_section {
  flex: 1;
  text-align: left;
  padding: 2rem 0 2rem 0;
  width: 85%;
  border-top: 2px solid #bdbdbd;
}

.footer_submain {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 0 0 3rem 0;
  text-align: left;
  width: 85%;
  flex: 2;
}

.footer_main .footer_submain .section_about {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-right: 5vw;
}

.footer_main .footer_submain .section_about img {
  height: 100%;
  width: 100px;
  cursor: pointer;
  flex: 1.1;
  float: left;
}

.footer_main .footer_submain .section_about p {
  font-size: 14px;
  text-align: justify;
  flex: 1;
}

.footer_main .footer_submain .section_services {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer_main .footer_submain .section_services p {
  flex: 0.5;
  font-weight: 600;
  font-size: 18px;
}

.footer_main .footer_submain .section_services ul {
  font-size: 14px;
  flex: 2;
  list-style: none;
}

.footer_main .footer_submain .section_services ul li {
  font-size: 14px;
  text-decoration: none;
}

.footer_main .footer_submain .section_quick_links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer_main .footer_submain .section_quick_links .heading {
  flex: 0.5;
  font-weight: 600;
  font-size: 18;
}

.footer_main .footer_submain .section_quick_links ul {
  list-style: none;
  flex: 2;
  font-size: 14px;
}

.footer_main .footer_submain .section_quick_links li a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.footer_main .footer_submain .section_quick_links li a:hover {
  font-size: 14px;
  text-decoration: none;
  color: #FF3131;
}
